<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark main-nav bg-dark">
    <a class="navbar-brand" href="#">GOD IS GREAT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navList">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row mx-md-auto order-1 order-md-2flex-row" id="navList">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">Course 1<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./course2">Course 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./course3">Course 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./course4">Course 4</a>
        </li>
      </ul>
    </div>
</nav>
